{% extends 'base.html.twig' %}

{% block title %}Séjournez à {{ city }}{% endblock %}

{% block body %}
	<h1 class="text-center my-5">Où souhaitez-vous séjourner à
		<span class="stroke text-capitalize">{{ city }}</span>
		?</h1>
	<div class="container">
		<div class="row justify-content-center">
			{# Boucle des offres #}
		</div>
	</div>
{% endblock %}
